<div style="color:white;background-color:#0B244E;padding:20px;width:100%">
<img src="https://www.eseg.edu.br/assets/dist/assets/images/logo/136x136.svg" style=""></img>
</div>
<div style="color:white;background-color:#0B244E;padding:20px;width:100%;border-top: 1px solid white">
Data Science 1 / Prof. Fernando Pablos
</div>

<h1>Análise Exploratória - Exercícios</h1>

<p>Exercício 1 - Realize a importação do arquivo dataset_vendas_online.csv</p>

In [2]:
import pandas as pd

df = pd.read_csv('dataset_vendas_online.csv')
df.head()

     col1  col2        catA            catB  num1   num2
0  174.84   3.0      Beleza             Pix  34.0   7.76
1  143.09  32.0      Beleza             Pix  40.0   4.94
2  182.38   3.0  Eletrônico             Pix  41.0   9.91
3  226.15  27.0      Beleza   Cartão Débito  62.0  22.70
4  138.29  29.0      Beleza  Cartão Credito  36.0  15.58

<p>Exercício 2 - Os nomes das colunas são muito esquisitos. Após consultarmos o analista responsável pela planilha, ele nos explicou que:</p>
<ul>
<li>col1 é o preço do produto</li>
<li>col2 é a quantidade vendida</li>
<li>catA é a categoria do produto</li>
<li>catB é o meio de pagamento</li>
<li>num1 é a idade do cliente</li>
<li>num2 é o valor do desconto aplicado</li>
</ul>

<p>Corrija os nomes das colunas</p>

In [3]:
df = df.rename(columns={'col1': 'Preço do Produto', 'col2': 'Quantidade Vendida', 'catA': 'Categoria do Produto', 'catB': 'Meio de Pagamento', 'num1': 'Idade do Cliente', 'num2': 'Valor do Desconto Aplicado'})
df.head()

,Preço do Produto,Quantidade Vendida,Categoria do Produto,Meio de Pagamento,Idade do Cliente,Valor do Desconto Aplicado
0,174.84,3.0,Beleza,Pix,34.0,7.76
1,143.09,32.0,Beleza,Pix,40.0,4.94
2,182.38,3.0,Eletrônico,Pix,41.0,9.91
3,226.15,27.0,Beleza,Cartão Débito,62.0,22.70
4,138.29,29.0,Beleza,Cartão Credito,36.0,15.58

<p style="color:blue; background-color:gray">Vamos observar mais a fundo nossa planilha:</p>

In [4]:
df.info() #Execute esse código

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Preço do Produto            360 non-null    float64
 1   Quantidade Vendida          382 non-null    float64
 2   Categoria do Produto        450 non-null    object
 3   Meio de Pagamento           450 non-null    object
 4   Idade do Cliente            405 non-null    float64
 5   Valor do Desconto Aplicado  450 non-null    float64
dtypes: float64(4), object(2)
memory usage: 21.2+ KB

<p>Exercício 3 - Precisamos tratar os dados faltantes.</p>
<p>No caso do preço do produto, vamos atribuir a mediana</p>
<p>Na quantidade vendida, a média</p>
<p>Na idade do cliente, a moda</p>

In [ ]:
#Para as células categóricas, podemos substituir pela moda
area_atuacao_moda = df['Área de Atuação'].mode()
df['Área de Atuação'] = df['Área de Atuação'].fillna(area_atuacao_moda[0])


tipo_moda = df['Tipo:'].mode()
df['Tipo:'] = df['Tipo:'].fillna(tipo_moda[0])

#Para as células numéricas, podemos pegar a mediana

lucro_media = df['Lucro Líquido Arredondado (R$)'].mean()
df['Lucro Líquido Arredondado (R$)'] = df['Lucro Líquido Arredondado (R$)'].fillna(lucro_media)

ano_mediana = df['Ano de Fundação'].median()
df['Ano de Fundação'] = df['Ano de Fundação'].fillna(ano_mediana)

df.info()

<p>Exercício 4 - Vamos analisar nossos dados categóricos, a saber: Categoria e Meio de Pagamento. Crie gráficos de barras para essas colunas para observar se está tudo ok.</p>

<p>Exercício 5 - Remova os valores equivocados e unifique valores que foram digitados incorretamente</p>

<p>Exercício 6 - Vamos descrever (describe) os dados numéricos</p>

<p>Exercício 7 - Agora analise esses dados gerando boxplots e histogramas para os que parecem ter problemas e depois corrija os problemas identificados</p>

In [ ]:
#Gere boxplots e histogramas

In [ ]:
#Corrija os problemas identificados e comprove que foram corrigidos

<p>Exercício 8 - Verifique se há alguma correlação entre as variáveis numéricas por meio de correlação e diagrama de dispersão</p>